<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="atividade_GSD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="atividade_GSD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="atividade_GSD.Properties.Settings.logins_isadoraConnectionString"
            connectionString="Data Source=sqlexpress;Initial Catalog=logins.isadora;User ID=aluno;Password=aluno;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <atividade_GSD.Properties.Settings>
            <setting name="emailSMTP" serializeAs="String">
                <value>cavalhieri.i@aluno.ifsp.edu.br</value>
            </setting>
            <setting name="senhaSMTP" serializeAs="String">
                <value>499EE715709028B280E9CF31364AD704166D828894AF3D784824E1F98A387638</value>
            </setting>
        </atividade_GSD.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <atividade_GSD.Properties.Settings>
            <setting name="enderecoSMTP" serializeAs="String">
                <value>smtp@gmail.com</value>
            </setting>
            <setting name="portaSMTP" serializeAs="String">
                <value>53</value>
            </setting>
        </atividade_GSD.Properties.Settings>
    </applicationSettings>
</configuration>